<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong>
  <%= @weekly.week %>
</p>

<p>
  <strong>Activity:</strong>
</p>

<% @act_details.each do |activity| %>
  <tr>
    <td><%= activity.class_name %></td>
    <td><%= activity.class_code %></td>
    <td><%= activity.colour %></td>
    <td><%= activity.days %></td>
    <td><%= activity.hours %></td>
  </tr>
  </br>
<% end %>
</br>

<!--div>
  <strong>Clashes:</strong>
  </br>
  <% @clashes.each do |clash| %>
    <tr>
      <td><%= clash.class_name %></td>
      <td><%= clash.class_code %></td>
      <td><%= clash.colour %></td>
      <td><%= clash.days %></td>
      <td><%= clash.hours %></td>
    </tr>
    </br>
  <% end %>
</div-->

<!DOCTYPE html>
<html>
<head>
  <style>

      h2, h3 {
          text-align: center;
      }

      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }

      table {
          float: right;
      }

      th, td {
          padding: 0.3em 0.8em;
      }

      #current-week {
          text-align: center;
      }

      #current-week h3 {
          display: inline-block;
      }
  </style>
</head>
<body>

<div>
  <h2>TIMETABLE: WEEKLY VIEW</h2>
  <div id="current-week">
    <button class="btn btn-light" id="week-back" type="button">
      <%= link_to "back", "/students/weekly/#{params[:id].to_i-1}" %></button>
    <h3></h3>
    <button class="btn btn-light" id="week-forward" type="button" >
      <%= link_to "forward", "/students/weekly/#{params[:id].to_i+1}" %></button>
  </div>
</div>


<div class="contents row">

  <div class="col" style="float: left">
    <a href="https://www.adelaide.edu.au/ask-adelaide/">Ask ADEL</a>
    <p>Find answers to frequently asked questions</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Online Chat</a>
    <p>Chat with a service agent</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Phone Us</a>
    <p>+61 8 83135208</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Enquire</a>
    <p>Submit your question to a service agent</p>
    <a href="https://www.adelaide.edu.au/ask-adelaide/contact-us">Visit Us</a>
    <p>Level 3 Hub Central North Terrace</p>
  </div>

  <div class="col col-sm-12 col-md-10">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr id="day-headers">
          <th>Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <% @hours.each_with_index do |h,i| %>
        <tr>
          <td>
            <% if @time_names[i] == "" %>
              &nbsp;
            <% else %>
              <%= @time_names[i] %>
            <% end %>
          </td>
          <% @day_bits.each_with_index do |d,j|%>
            <% next if @this_week[i][j] == 0 %>
            <% if @this_week[i][j] == 1 %>
              <td>
                &nbsp;
              </td>
            <% else %>
              <td class="class-card" valign="top" rowspan="<%= @this_week[i][j].hamming_weight %>" style="background-color:#<%=@this_week[i][j].colour %>">
                
                <div class="class-card-title"><%= @this_week[i][j].class_name %></div>
                <span class="mt-1 badge badge-pill"><%= @this_week[i][j].class_type %></span>
                <p class="class-card-desc"><%= @this_week[i][j].location %></p>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div>

</div>

<div class="row">

  <div class="col-6">
    <% if !@clashes.nil? %>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Class name</th>
            <th>Class code</th>
            <th>Class type</th>
            <th>Days</th>
            <th>Hours</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'clash', collection: @clashes %>
        </tbody>
      </table>
    <% else %>
    <div class="col">
      <h3>
        There are no clashes to display.
      </h3>
    </div>
    <% end %>
  </div>

</div>






<script>
    // Get Information about current day
    var currentDate = new Date();
    var day = currentDate.getDay();
    var date = currentDate.getDate();
    var month = currentDate.getMonth();

    // Arrays for days of week and months of year
    var weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    // Create date for the start of the week
    var weekStartDate = new Date();
    weekStartDate.setDate(date - day + 1);

    // Create date object for the end of the week
    var weekEndDate = new Date;
    weekEndDate.setDate(weekStartDate.getDate() + 6);

    // Update the week day headers
    setWeekDayHeaders();

    // Function to update the headers of the timetable with the days and dates of the week
    function setWeekDayHeaders() {
        // Set the header for each day in the table, e.g 'Wednesday 25/8'
        for (let i = 0; i < 7; i++) {
            // Create date for the i'th day of the week
            var d = new Date(weekStartDate);
            d.setDate(weekStartDate.getDate() + i);

            // Get the DOM for the i'th column header
            var dayHeader = document.getElementById("day-headers").children[i+1];

            // Set the date in the column header
            dayHeader.innerText = weekDays[i] + " " + d.getDate()+ "/" + (d.getMonth() + 1);
        }

        // Write the start and end of the week dates in the timetable header
        var weekHeader = document.getElementById("current-week").children[1];
        weekHeader.innerText = weekStartDate.getDate() + " " + months[weekStartDate.getMonth()] + " - " + weekEndDate.getDate() + " " + months[weekEndDate.getMonth()];

        // Highlight the current day in the week
        if (date >= weekStartDate.getDate() && date <= weekEndDate.getDate()) {
            document.getElementById("day-headers").children[day].style.backgroundColor = "grey";
        } else {
            // Remove highlighting
            document.getElementById("day-headers").children[day].style.backgroundColor = "white";

        }
    }

    // If press back one week
    document.getElementById("week-back").onclick = function() {
        weekStartDate.setDate(weekStartDate.getDate() - 7);
        weekEndDate.setDate(weekEndDate.getDate() - 7);
        setWeekDayHeaders();
    }

    // If click forward one week
    document.getElementById("week-forward").onclick = function() {
        weekStartDate.setDate(weekStartDate.getDate() + 7);
        weekEndDate.setDate(weekEndDate.getDate() + 7);
        setWeekDayHeaders();
    }


    $(document).ready(function() {
        $('table tr').each(function(i, v) {
            var cols = $(this).find('td');
            $(this).find('td[rowspan]').each(function() {
                var idx = $(this).index();
                console.log(idx);
                for(var j = 1; j < $(this).prop('rowspan'); j++) {
                    $('table tr').eq(i+j).find('td').eq(idx).hide();
                }
            });
        });
    });

</script>


</body>
</html>
