  <div class="col col-sm-12 col-lg-8">
    <table class="table table-sm table-striped table-bordered table-responsive-sm">
      <thead class="thead-dark">
        <tr id="day-headers">
          <th>Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <% @hours.each_with_index do |h,i| %>
        <tr>
          <td>
            <% if @time_names[i].blank? %>
              &nbsp;
            <% else %>
              <%= @time_names[i] %>
            <% end %>
          </td>
          <% @day_bits.each_with_index do |d,j|%>
            <% next if @this_week[i][j] == 0 %>
            <% if @this_week[i][j] == 1 %>
              <td>
                &nbsp;
              </td>
            <% else %>
              <td class="class-card" valign="top" rowspan="<%= @this_week[i][j].hamming_weight %>" style="background-color:#<%=@this_week[i][j].colour %>">
                
                <div class="class-card-title" title="<%= @this_week[i][j].class_name %>" ><%= @this_week[i][j].class_name %></div>
                <span class="mt-1 badge badge-pill badge-secondary"><%= @this_week[i][j].class_type %></span>
                <p class="class-card-desc" title="<%= @this_week[i][j].location %>"><%= @this_week[i][j].location %></p>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

  </div>


<script>
    var URL = window.location.href;
    // Get the week ID as the last 2 characters of the URL
    // Since max week is 52, we only need last 2 characters
    var weekID = URL.slice(-2);

    // If the week is single digit (0-9), the first character will be a '/'
    // so remove it, otherwise it will be a number so keep it
    if (weekID[0] == '/') {
        weekID = weekID.slice(-1)
    }

    // Get Information about current day
    var currentDate = new Date();
    var day = currentDate.getDay();
    var date = currentDate.getDate();
    var month = currentDate.getMonth();

    // Arrays for days of week and months of year
    var weekDays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    // Create date for the start of the week
    var weekStartDate = new Date(2020, 11, 28);
    weekStartDate.setDate(weekStartDate.getDate() + 7 * (weekID-1))

    // Create date object for the end of the week
    var weekEndDate = new Date(2020, 11, 28);

    // Update the week day headers
    setWeekDayHeaders();

    // Function to update the headers of the timetable with the days and dates of the week
    function setWeekDayHeaders() {
        // Set the header for each day in the table, e.g 'Wednesday 25/8'
        for (let i = 0; i < 7; i++) {
            // Create date for the i'th day of the week
            var d = new Date(weekStartDate);
            d.setDate(weekStartDate.getDate() + i);

            // Set the week's end date when d is the last day in the week
            if (i == 6) {
                weekEndDate = d;
            }

            // Get the DOM for the i'th column header
            var dayHeader = document.getElementById("day-headers").children[i+1];

            // Set the date in the column header
            dayHeader.innerText = weekDays[i] + " " + d.getDate()+ "/" + (d.getMonth() + 1);
        }

        // Write the start and end of the week dates in the timetable header
        var weekHeader = document.getElementById("week-start-end");
        weekHeader.innerText = weekStartDate.getDate() + " " + months[weekStartDate.getMonth()] + " - " + weekEndDate.getDate() + " " + months[weekEndDate.getMonth()];

        // Highlight the current day in the week
        if (currentDate >= weekStartDate && currentDate <= weekEndDate) {
            document.getElementById("day-headers").children[day].style.backgroundColor = "grey";
        } else {
            // Remove highlighting
            document.getElementById("day-headers").children[day].class = "other-day";

        }
    }



</script>
