<tr>
  <td><%= clash[:course_name] %></td>
  <td><%= clash[:course_code] %></td>
  <td><%= clash[:class_type] %></td>
  <td><%= clash[:date] %></td>
  <td><%= clash[:time] %></td>
  <td><%= clash[:student_id] %></td>
</tr>