<p id="notice"><%= notice %></p>

<p>
  Logged in as:
  <%= @teacher.first_name %>
</p>
<%= link_to teachers_add_meeting_path do %>
  <button class="login_button btn btn-lg btn-primary">Add meeting</button>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h2>TIMETABLE: WEEKLY VIEW</h2>
  
  <% if @restriction_level.level_current > 0 %>
  <div class="alert alert-warning">
    Wear a mask! We are at <strong>restriction level <%= @restriction_level.level_name %></strong>.  Click <a href="<%=@SAGov_restrictions_website %>" target="_blank"><strong>here</strong></a> to view the SA Government Activity restriction levels in a new tab.
  </div>
  <% end %>

  <div id="current-week">

    <h3 id="week-start-end"></h3>
    </br>
    <% if @weekly.id > 1 %>
        <%= link_to "/teachers/weekly/#{params[:id].to_i-1}", class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-alt-circle-left"></i>
        <% end %> 
    <% else %>
      <button class="btn btn-secondary" id="week-back" type="button" disabled>
        <i class="fas fa-times"></i>
      </button>
    <% end %>

    <% if @weekly.id < 52 %>
        <%= link_to "/teachers/weekly/#{params[:id].to_i+1}", class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-alt-circle-right"></i>
        <% end %>
      </button>
    <% else %>
      <button class="btn btn-secondary" id="week-forward" type="button" disabled>
        -
      </button>
    <% end %>
  </div>
</div>

<div class="contents row mt-4">
  <%= render partial: 'shared/links' %>
  <%= render partial: 'shared/timetable' %>
</div>

<%= render partial: 'shared/clashlist' %>
<%= render partial: 'shared/debugmenu' %>
